## .NET
bin/
obj/
*.db
*.user
*.suo
*.vs/
.DS_Store

### IDE ###
.idea/
.vscode/
*.iws
*.iml
*.ipr

### Frontend (Node.js) ###
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*.local
frontend/.git/
